.u-section-1 {
  background-image: linear-gradient(45deg, #b48dff, #62f6e9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1313px;
}

.u-section-1 .u-shape-1 {
  width: 351px;
  background-image: none;
  height: 1062px;
  margin: 80px auto 0 170px;
}

.u-section-1 .u-gallery-1 {
  width: 985px;
  height: 671px;
  grid-gap: 10px;
  margin: -979px auto 0 48px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 16px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-group-1 {
  width: 497px;
  min-height: 442px;
  background-image: none;
  margin: -85px 0 41px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 76px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -46px 108px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-1 .u-shape-1 {
    width: 300px;
    height: 962px;
    margin-top: 77px;
    margin-left: 115px;
  }

  .u-section-1 .u-gallery-1 {
    width: 905px;
    height: 618px;
    margin-top: -876px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 435px;
    min-height: 458px;
    margin-top: -54px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1690px;
  }

  .u-section-1 .u-shape-1 {
    height: 1299px;
    margin-left: 103px;
  }

  .u-section-1 .u-gallery-1 {
    width: 685px;
    height: 1055px;
    margin-top: -1210px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-group-1 {
    margin-top: -41px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3814px;
  }

  .u-section-1 .u-shape-1 {
    height: 3662px;
    margin-top: 76px;
    margin-right: 186px;
    margin-left: 54px;
  }

  .u-section-1 .u-gallery-1 {
    width: 505px;
    height: 3162px;
    margin-top: -3570px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-group-1 {
    margin-top: -66px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2866px;
  }

  .u-section-1 .u-shape-1 {
    width: 260px;
    height: 2725px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 2129px;
    margin-top: -2667px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 47px;
    margin-bottom: 117px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.u-section-2 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 335px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  margin-bottom: 0;
  margin-top: 30px;
}

.u-section-2 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-5 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  margin-bottom: 60px;
  margin-top: 30px;
  text-transform: uppercase;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 318px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 367px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 1025px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 611px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 952px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 698px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 934px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  margin: 30px 0 60px;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-right: 825px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 411px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 752px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 498px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 734px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-right: 605px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 191px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 532px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 278px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 514px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 348px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 425px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 11px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 352px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 98px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 334px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 219px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 225px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 152px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 134px;
  }
}